---
import { TextSection } from "@components/odyssey-theme";
import Layout from "../layouts/Page.astro";
import HeroSection from "@components/sections/heros/HeroSection.astro";
import { SITE_SETTINGS } from "@config/consts";
import { getEntry } from "astro:content";
import { Markdown } from "@astropub/md";
import DImage from "@components/core/DImage.astro";

const seo = {
  title: `About | ${SITE_SETTINGS.brandName}`,
  description: "About Page",
};

const aboutContent = await getEntry("about", "data");

const { page_title, intro_md, intro_image, bio_md } = aboutContent.data;
console.log({ page_title, intro_md, intro_image, bio_md });
---

<Layout {seo}>
  <HeroSection>
    <div slot="text-container">
      <Markdown of={intro_md} />
    </div>
    <div slot="image-container">
      <DImage imgPath={intro_image} alt={"intro_image"} />
    </div>
  </HeroSection>
  <TextSection narrow>
    <div style="justify-content: center;">
      <Markdown of={bio_md} />
    </div>
  </TextSection>
</Layout>
