---
import {
  Header,
  Footer,
  ContactButton,
} from "@components/odyssey-theme.js";
import { SITE_SETTINGS } from "@config/consts";
import Base from "./Base.astro";
import type { BaseHeadProps as BaseHeadProps } from "../components/head/BaseHead.astro";
import Logo from "../components/Logo.astro";
import { footerLists, footerSocials } from "../config/footer";

export interface PageProps {
  seo: BaseHeadProps;
}

import { nav } from "../config/nav.js";

const { seo } = Astro.props as PageProps;
---
<style>
  div#page {
    min-height: 60vh;
  }
</style>
<Base {seo}>
  <Header menuType={"compressed"} navData={nav} slot="header">
    <span slot="logo">
      <Logo />
    </span>
    <ContactButton slot="action-item" />
  </Header>
  <div id="page">
    <slot />
  </div>
  <Footer
    slot="footer"
    background="var(--theme-surface-1)"
    color="var(--theme-on-surface-1)"
    footerLists={footerLists}
    footerSocials={footerSocials}
    copyrightName={SITE_SETTINGS.name}
  >
    <Logo slot="logo" />
  </Footer>
</Base>
