---
import { Header, GetAQuoteButton, Button, Footer } from "@components/odyssey-theme.js";
import Base from "./Base.astro";
import type { BaseHeadProps as BaseHeadProps } from "../components/head/BaseHead.astro";
import Logo from "../components/Logo.astro";
import settings from "../config/site-settings.js";
import { footerLists, footerSocials } from "../config/footer";

export interface PageProps {
  seo: BaseHeadProps;
}

import { nav } from "../config/nav.js";

const { seo } = Astro.props as PageProps;
---

<Base {seo}>
  <Header rightMenu navData={nav} slot="header">
    <span slot="logo">
      <Logo />
    </span>
    <GetAQuoteButton slot="action-item" />
  </Header>
  <div id="page">
    <slot />
  </div>
  <Footer
    slot="footer"
    background="var(--theme-surface-1)"
    color="var(--theme-on-surface-1)"
    footerLists={footerLists}
    footerSocials={footerSocials}
    copyrightName={settings.name}
    d
  >
    <Logo slot="logo" />
  </Footer>
</Base>